/* You can add global styles to this file, and also import other style files */
.btn {
    margin: 0 5px;
}

.invalid-feedback {
    display: inline;
}

.pointer {
    cursor: pointer;
}

.li-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sm-select {
    max-width: 30%;
    margin-bottom: 10px;
}