<section class="container mt-4">
  <div class="row justify-content-center" *ngIf="contact">
    <div class="col-auto">
      <h3>
        {{contact.firstName}} {{contact.lastName}}
      </h3>
      <p>Email: {{contact.emailAddress}}</p>
        <h4>Address:</h4>
        <p>{{contact.streetAddress}}</p>
        <p>{{contact.city}}</p>
        <p>{{contact.state}}, {{contact.zipCode}}</p>
      <div *ngIf="contact.clientName">
        <h4>Client</h4>
        <p>{{contact.clientName}}</p>
      </div>
      <button type="button" class="btn btn-primary">Edit</button>
      <button type="button" (click)="deleteContact(contact.personId)" class="btn btn-danger">Delete</button>
    </div>
  </div>
</section>