
<div class="p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Clients</h1>
  <button type="button" class="btn btn-primary">Add Client</button>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-3" *ngFor="let client of clients">
      <div class="card" style="width: 18rem;">
        <!-- toDo add image -->
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{client.companyName}}</h5>
          <p class="card-text">location: {{client.city}}</p>
          <a href="{{client.websiteUri}}">
            <p class="card-text">{{client.companyName}} website</p>
          </a>
          <button [routerLink]="['/client', client.clientId]" class="btn btn-primary">detail</button>
        </div>
      </div>
    </div>
  </div>
</div>